# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
tests/*.jpg
tests/*.png
tests/*.jpeg

# Translations
*.mo
*.pot

# Flask instance folder (if using Flask)
instance/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# -----------------------------------------------------------------
# Ignore all image files everywhere except for those in data/stock_backgrounds

# Ignore all common image file extensions
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff

# Unignore images in the data/stock_backgrounds folder
!data/stock_backgrounds/
!data/stock_backgrounds/*.jpg
!data/stock_backgrounds/*.jpeg
!data/stock_backgrounds/*.png
!data/stock_backgrounds/*.gif
!data/stock_backgrounds/*.bmp
!data/stock_backgrounds/*.tiff

# Also ignore any images in the output folder (assuming it's located at data/output)
data/output/